<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Login </title>
</head>
<body>
<div class="form-group">
    <div style="padding-bottom:10px;padding-left:15px">
        <form action="/signin/facebook" id="facebookSignin" method="POST" style="margin-top:30px">
            <a href="javascript:document.getElementById('facebookSignin').submit();" class="btn btn-primary"><i class="fa fa-facebook"></i> Login with Facebook </a>
        </form>
        <form action="/signin/twitter" id="twitterSignin" method="POST" style="margin-top:30px;margin-bottom:20px">
            <a href="javascript:document.getElementById('twitterSignin').submit();" class="btn btn-primary"><i class="fa fa-twitter"></i> Login with Twitter </a>
        </form>
        <form action="/signin/google" id="googleSignin" method="POST" style="margin-top:30px;margin-bottom:20px">
            <a href="javascript:document.getElementById('googleSignin').submit();" class="btn btn-primary"><i class="fa fa-google"></i> Login with Google </a>
        </form>
        <form action="/signin/github" id="githubSignin" method="POST" style="margin-top:30px;margin-bottom:20px">
            <a href="javascript:document.getElementById('githubSignin').submit();" class="btn btn-primary"><i class="fa fa-google"></i> Login with Github </a>
        </form>
        <form action="/signin/linkedin" id="linkedinSignin" method="POST" style="margin-top:30px;margin-bottom:20px">
            <a href="javascript:document.getElementById('linkedinSignin').submit();" class="btn btn-primary"><i class="fa fa-google"></i> Login with LinkedIn </a>
        </form>
    </div>
</div>

</body>
</html>